DB_HOST=localhost
DB_PORT=3306
DB_NAME=camascotas_db
DB_USER=root
DB_PASS=

JWT_SECRET=camascotas-super-secret-jwt-key-2024

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GROQ_API_KEY=your_primary_key_here
GROQ_API_KEY_BACKUP=your_backup_key_here
