# Environment Files (Secret Keys & Credentials)
.env
.env.local
.env.*.local
*.key

# Composer dependencies
vendor/
composer.lock

# Logs
logs/
*.log

# OS & IDE
.DS_Store
.idea/
.vscode/

# Compressed & Archive files
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz
*.iso
*.cab
